{% extends "base.html" %}{% block title %}About{% endblock %}


{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark" style="font-family: Georgia; font-size: 50px; background-color: #E54B4B;">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/about">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/concepts">Concepts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/intro">Intro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/forums">Forums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/figures">Figures</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>
        {% endif %}
      </div>
    </div>
</nav>
{% endblock %}



{% block content %}


<style>

    figure {
		background: rgba(17,19,25,1) 100%;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 auto 10vh 0;
		position: sticky;
		top: 0;
		overflow: hidden;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
			}

	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
	section {
		background: rgba(17,19,25,1) 100%;;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
		}
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
			}
	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
		}
	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}
	section::before {
		background: inherit;
		z-index: 1;
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		width: 7vmin;
		height: 7vmin;
		transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
		clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
		box-shadow: -4px -2px 8px rgba(0,0,0,.4);
		border-radius: 1.5vmin 0 0 0;
	}
	section:nth-of-type(2n)::before {
		left:auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}

	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}
	figure img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 1rem;
	}
	h1{
        color: #E54B4B;
        margin: 15% 0 auto;
		font-size: calc(5vmin + 3vmax);
		text-align: center;
		font-weight: 700;
		line-height: 1;
		word-spacing: .5rem;
    }
	h2 {
		margin: 5% 0 auto;
        color: #E54B4B;
		font-size: calc(4vmin + 2vmax);
		text-align: center;
		font-weight: 700;
		line-height: 1;
		word-spacing: .5rem;
	}
	p {
		text-align: right;
        color: #F7EBE8;
		width: 100%;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: 200;
		font-style: italic;
		font-size: calc(.5vmin + 1.5vmax);
        margin-top: 10%;
        margin-bottom: auto;
        line-height: 2;
	}
	.link {
		color: transparent;
		-webkit-text-stroke: 2px #212121;
		text-decoration: none;
        font-weight: 900;
        letter-spacing: 2px;
	}
	link:hover, a:focus {	
		-webkit-text-stroke: 1px #999;
	}
</style>


<article>
	<figure>
		<img src='https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' alt />
	</figure>
	<section>
			<div>
				<h1>About Us</h1>
				<p>Who are we? Why Philosophy? What are we trying to achive?</p>
			</div>
	</section>
	
	<figure>
		<img src='https://images.unsplash.com/photo-1479142506502-19b3a3b7ff33?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80' alt />
	</figure>
	<section>
		<div>
			<h2>I'm Reginald Hardwick</h2>
			<p>I am sophomore at Central High School.</p>
		</div>
	</section>
	
	<figure>
		<img src="" alt="">
	</figure>
	<section>
		<div>
			<h2>I'm Bashir Hilaly</h2>
			<p>I am also a sophomore at Central High School. I am also a programmer and enjoy on working on and learning about things like AI and video games. My interest in philosophy stems from reading books and religion.</p>
		</div>
	</section>
	
	<figure>
		<img src='https://images.unsplash.com/photo-1587397070634-2c9d412b2012?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80' alt />
	</figure>
	<section>
		<div>
			<h2>Why Philosophy?</h2>
			<p>We decided to make a website on philosophy due to the fact that not many people are knowledgeable on the subject, whether it be because they are too busy or just not interested. The main complaint we received from our survey we conducted was that philosophy is too complicated and boring, so we wanted a way to make learning it more accessible and interactive. </p>
		</div>
	</section>
	
	<figure>
		<img src='https://images.unsplash.com/photo-1613324767341-a6cca90c02f6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80' alt />
	</figure>
	<section>
		<div>
			<h2>What are we trying to achieve</h2>
			<p>We feel as though many students in this day and age struggle to find purpose and have nothing to guide them through life, especially with constant schoolwork and struggles at home. We want to help educate such people with prompt information on different perspectives on life through the learning of major figures and the history of philosophy, while giving empty templates to make his or her own interpretations.</p>
		</div>
	</section>
	
	<figure>
		<img src='https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80' alt />
	</figure>
	<section>
		<div>
			<h2>We hope</h2>
			<p>that finding purpose in life is given more importance especially socially. It appears as a "too deep" topic and "not fun" but this should not prevent people, especially young students who need it, from not thinking.</p>
		</div>
	</section>
	
	<figure>
		<img src='https://images.unsplash.com/photo-1505488387362-48bc38155987?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80' alt />
	</figure>
	<section>
		<div>
			<h2>Get Started<br/>
			<p>We are not here forever. Tomorrow is not promised. Lets learn while we can.</p>
		</div>
	</section>
	
</article>

{% endblock %}