{% extends "base.html" %}{% block title %}Sign Up{% endblock %}

{% block header %}
<div class="jumbotron jumbotron-fluid" style="position: relative; background-color: #E54B4B; height: 100px">
        
    <div class="container">
      <header style="position: relative; margin-top: -70px; text-align: center; color: #F7EBE8; font-family: Georgia; font-size: 100px">Website</header>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container">
    <div>
        <h2 style="position: relative; text-align: center; color: #F7EBE8; font-family: Georgia; margin-top: 150px; font-size: 60px; text-shadow: 2px 2px 8px #111319;">Join Us!</h2>
    </div>
</section>
<form method="POST" class="container">
  <div class="form-group">
    <label for="userName" style="color: #F7EBE8;">Username</label>
    <input type="text" class="form-control" id="userName" name="userName" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email" style="color: #F7EBE8;">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password" style="color: #F7EBE8;">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    <small id="passwordHelp" class="form-text text-muted">Do Not Share Your Password Please!</small>
  </div>
  <br />
  <div class="text-center">
      <button type="submit" class="btn btn-danger" style="color: #F7EBE8; background-color: #E54B4B; border-color: #E54B4B;">Sign Up</button>
  </div>
</form>
{% endblock %}