{% extends "base.html" %}{% block title %}Timeline{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark" style="font-family: Georgia; font-size: 50px; background-color: #E54B4B;">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/timeline">History<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/intro">Intro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Concepts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/figures">Figures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/forums">Forums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>
        {% endif %}
      </div>
    </div>
</nav>
{% endblock %}

{% block content %}


<style>
        @import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
    .timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
    }
    .timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
    }
    .timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
    }
    .timeline:before {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
    }
    .timeline-item {
    padding: 0px 0;
    transition: 0.2s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(0px);
    margin-top: 0%;
    }
    .timeline-item:hover {
        transform: scale(1.2);
    }
    .timeline-item:nth-child(even) {
    align-self: flex-end;
    margin-top: -10%;
    }
    .timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    }
    .timeline-container {
    width: 100%;
    position: relative;
    padding: 0px 0;
    transition: 0.3s ease 0s;
    }
    .timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";

    }
    .timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    }
    .timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
    }
    .timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
    }

    .demo-footer {
    padding: 0px 0;
    text-align: center;
    }
    .demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
    }
</style>



<div class="timeline-container" style="margin-top: 70px;" id="timeline-1">
    <div class="timeline-header">
    <h2 class="timeline-header__title">Basic History</h2>
    <h3 class="timeline-header__subtitle">Philosophy all over the World</h3>
    </div>
    <div class="timeline">
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
        <div class="timeline__content"><img class="timeline__img" src="https://images.pexels.com/photos/1006094/pexels-photo-1006094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
        <h2 class="timeline__content-title">Medieval Philosophy</h2>
        <p class="timeline__content-desc">The philosophy that existed during the Middle Ages, approximately from the fall of the Western Roman Empire in the 5th century to the Renaissance in the 15th century, is known as medieval philosophy. Medieval philosophy, as a project of autonomous philosophical inquiry, began in Baghdad in the middle of the eighth century and in France in the last quarter of the eighth century, at Charlemagne's itinerant court. It is characterized in part by the need to address theological issues and integrate sacred doctrine with secular learning, as well as by the process of rediscovering ancient culture in Greece and Rome during the Classical period.</p>
        </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
        <div class="timeline__content"><img class="timeline__img" src="https://images.pexels.com/photos/4203074/pexels-photo-4203074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <h2 class="timeline__content-title">Indian Philosophy</h2>
        <p class="timeline__content-desc">Indian philosophy (Sanskrit: darana, lit. 'perspective') refers to the various philosophical traditions that have developed on the Indian subcontinent since ancient times. Various key concepts and ideas are shared by Indian philosophical traditions, which are identified in various ways and accepted or rejected by various traditions. Dhárma, karma, prama, dukha, sasra, and moka are examples of these concepts.</p>
        </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
        <div class="timeline__content"><img class="timeline__img" src="https://images.pexels.com/photos/2070118/pexels-photo-2070118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
        <h2 class="timeline__content-title">Buddhism Philosophy</h2>
        <p class="timeline__content-desc">Buddhist philosophy can be traced back to Gautama Buddha's (fl. 6th–4th century BCE) ideas, which are preserved in early Buddhist texts. It began in the Indian state of Magadha and eventually spread throughout the Indian subcontinent, East Asia, Tibet, Central Asia, and Southeast Asia. Buddhist thought evolved in these areas into various philosophical traditions that spoke a variety of languages (like Tibetan, Chinese and Pali). As a result, Buddhist philosophy is a global phenomenon that transcends cultures.</p>
        </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
        <div class="timeline__content"><img class="timeline__img" src="https://images.pexels.com/photos/2660262/pexels-photo-2660262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <h2 class="timeline__content-title">African Philosophy</h2>
        <p class="timeline__content-desc">African philosophy refers to philosophy created by Africans, philosophy that introduces African worldviews, ideas, and topics, and philosophy that employs African philosophical techniques. Ethnophilosophy has occupied modern African thought, attempting to define the very meaning of African philosophy, its distinctive qualities, and what it means to be African.</p>
        </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
        <div class="timeline__content"><img class="timeline__img" src="https://images.pexels.com/photos/96446/pexels-photo-96446.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <h2 class="timeline__content-title">Greek Philosophy</h2>
        <p class="timeline__content-desc">Classical Greek philosophy began in the 6th century BC in the eastern Mediterranean, with the earliest thinkers of Miletus. They are the Pre-Socratics, along with later figures such as Heraclitus and Parmenides, who proposed groundbreaking theories about the natural world, knowledge, and gods. With Socrates, things take a more ethical turn, as his relentless questioning forces other citizens of Athens to account for their values. His student Plato, and Plato's student Aristotle, then set the tone for the rest of philosophy's history, delving into topics as diverse as logic and epistemology to beauty, virtue, and myth.</p>
        </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
        <div class="timeline__content"><img class="timeline__img" src="https://ericgerlachdotcom.files.wordpress.com/2013/10/muslims-praying-painting.jpg"/>
        <h2 class="timeline__content-title">Islamic Philosophy</h2>
        <p class="timeline__content-desc">Islamic philosophy is a branch of philosophy that has its origins in the Islamic tradition and is primarily conducted in Arabic. It is based on the Islamic religion. This intellectual achievement marked the start of the Islamic Golden Age. Kalam, which focuses on Islamic theology, and Falsafa, which is based on Aristotelianism and Neoplatonism, are the two major currents of early Islamic thought. Ibn al-Haytham and Al-Biruni, for example, devised a scientific method, experimental medicine, an optics theory, and a legal philosophy. Ibn Khaldun was a well-known historian and philosopher.</p>
        </div>
    </div>
    </div>


</div>



{% endblock %}